
  
<div class="columns mh4 ">
  <div class="column mh7 is-narrow border">
    
<%= simple_form_for(@delivery) do |f| %>
  <%= f.error_notification %>

 
 
      <div class="field ml4 ">
        <div class="control"> 
         <%= f.input :start_time, required:true, input_html: { class: "select is-medium"}, wrapper: false, label_html: { class:"label" } %>
       </div>
      </div> 
      
      
      <div class="field ml4">
         <p class="has-text-weight-bold pt2 pb2">Please select charity </p>
      <div class="select is-medium">
       
      <%= collection_select( :delivery, :charity_id, Charity.all, :id, :name, {}, { :multiple => false }) %>
      </div>
      </div>

  
  
       <div class="field is-grouped ml4 pt4  ">
        <div class="control">
        <%= f.button :submit, class: 'button is-warning is-medium' %>
        <%= link_to 'Cancel', deliveries_path, class:'button is-light is-medium' %>
      </div>
   </div>
  <% end %>
 </div>

</div>
