<!DOCTYPE html>
<html>
  <head>
    <title>Deliverforchange</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application' %>
  </head>

 
 
    <body class ="main">
    <header>
    <% if flash[:notice] %>
    	<div class="notification is-primary global-notification">
  	  	<p class="notice"><%= notice %></p>
    	</div>
   	<% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
    </div>
    <% end %>
    
      <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
          <h1 class="title is-5 has-text-white">DeliverForChange</h1>
        <% end  %>
      <div class="navbar-burger burger" data-target="navbar">
        <span>1</span>
        <span>2</span>
        <span>3</span>
      </div>
    </div>

      <div id="navbar" class="navbar-menu">

        <div class="navbar-start">
          
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <%= link_to 'What do we do',about_us_path , class:"button is-dark" %>
              </p>
              <p class="control">
                <%= link_to 'Get in touch', contact_us_path , class:"button is-dark" %>
              </p>
            </div>
          </div>
    </div>


        
        <div class = "navbar-center ">
          <a href = "" class = "nav-item">
            <figure class = "">
              <%= link_to image_tag("logosmall.png", alt:"logo"),"/" %>
            </figure>
          </a>
        </div>

        <div class="navbar-end is-right ">
          <div class="navbar-item ">
            <div class="field is-grouped">
              <% if has_role?(:admin) %>
              <p class="control">
              <%= link_to 'Users', users_path , class:"button is-dark"%>
              </p>
             <%end%>
              <% if user_signed_in? %>
               <div class="navbar-item has-dropdown is-hoverable">
                  <%= link_to  'Account', edit_user_registration_path, class:"navbar-link" %>
                  <div class="navbar-dropdown is-right"> 
                    <%= link_to  current_user.name, edit_user_registration_path, class:"navbar-item " %>
                    <%= link_to 'Dashboard', deliveries_path , class:"navbar-item" %>
                    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                </div>
             
              </div>
              <% else %>
              <p class="control">
                 <%= link_to "Sign In", new_user_session_path, class:"button is-dark" %> </p>
              <p class="control">
                <%= link_to "Sign up", new_user_registration_path, class:"button is-dark"%> </p>
              <% end %>
             
            </div>
          </div>
        </div>
     </div> 
      
    </nav> 
    </header>
   
   <%= yield(:header) %>
    <main>
    <%= yield %>
    <%#= content_for?(:content) ? yield(:content) :yield %>
    </main>
    
  
      <footer class = "footer">
        <div class ="container">
          <ul class = "level">
            <li class = "level-item"><a href=""><i class ="fa fa-facebook"></i> Facebook </a></li>
            <li class = "level-item"><a href=""><i class ="fa fa-instagram"></i> Instagram </a></li>
             <li class = "level-item"><a href=""><i class ="fa fa-twitter"></i> Twitter </a></li>
          </ul>
        </div>
    </footer>
  </body>
</html>
